{%extends 'bases/base.html'%}
{%block subtitle%}index{%endblock%}
{#HERDANDO BASE E ATRIBUINDO BLOCOS ATUAIS SOBRE OS BLOCOS PAI#}
{%block content%}
    <div>
        {%if not current_user.is_authenticated%}
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('register')}}"> Cadastrar</a>
        {%else%}
            <a href="{{url_for('logout')}}"> Sair</a>
            <ul class="list-group list-group-flush">
                {%for i in users%}
                    <li class="list-group-item">
                        {{i['username']}}
                    </li>
                {%endfor%}
            </ul>
        {%endif%}
    </div>
<h1> UHUUU</h1>
{%endblock%}