{% extends 'base.html' %}

{% block content %}

<div class="mt-5">

  <a href="{{ url_for('index') }}" class="btn btn-info">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Voltar
  </a>
  <a href="{{ url_for('user_add_book', id=user.id) }}" class="btn btn-success">
  <i class="fa fa-plus" aria-hidden="true"></i>
    Adicionar livros
  </a>
  
  <table class="table table-striped mt-3">
    <tbody>
      <tr>
        <td>
          {{ user.id }}     
        </td>
        <td>
          {{ user.name }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.profile.photo }}
        </td>
        <td>
          <a class="btn btn-danger btn-sm" href="{{ url_for('delete', id=user.id) }}">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <h2 class="text-muted">Livros</h2>
  <ul class="list-group list-group-flush mt-5">
    {# a classe user esta vinculada com a classe livros entao ela pode fazer referencia a ela diretamente#}
    {%for book in user.books%}
      <li class="list-group-item">{{book.name}} {{book.user}}</li>
    {%endfor%}
  </ul>


{% endblock %}