{%extends 'bases/base.html'%}
{%block subtitle%}registrar{%endblock%}
{%block content%}
<form action="{{url_for('register')}}" method="POST">
    <div class="form-group">
        <label for="nameForm">nome</label>
        <input id="nameForm" type="text" name="nameform" placeholder="nome" class="form-control">
    </div>
    <div class="form-group">
        <label for="usernameform">usuario</label>
        <input id="usernameform" type="text" name="userform" placeholder="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="passform">senha</label>
        <input id="passform" type="password" name="passform" placeholder="senha" class="form-control">
    </div>

    <input type="submit" value="CADASTRAR" class="btn btn-block btn-success btn-lg">
</form>
{%endblock%}